<section class="about-me" id="about-me">
    <h2 class="visually-hidden">About Me</h2>
    <div class="container about-me-container">
        <div class="about-me-text-img">
            <div class="about-me-text">
                <p class="about-me-p">I work with people all over the world to create impressive and <span class="functional">functional</span> <span class="websites">websites</span> that reflect each client's unique personality.</p>
            </div>
                <picture>
                    <source
                    media="(min-width: 1440px)"
                    srcset="/img/about-me/about-desktop-x1.jpg 1x, /img/about-me/about-desktop-x2.jpg 2x"
                    width="680"
                    height="700"/>
                    <source
                    media="(min-width: 768px)"
                    srcset="/img/about-me/about-tablet-x1.jpg 1x, /img/about-me/about-tablet-x2.jpg 2x"
                    width="704"
                    height="700"/>
                    <source
                    media="(max-width: 767px)"
                    srcset="/img/about-me/about-mob-x1.jpg 1x, /img/about-me/about-mob-x2.jpg 2x"
                    width="343"
                    height="500"/>
                    <img
                    class="about-me-img"
                    src="/img/about-me/about-mob-x1.jpg"
                    width="704"
                    height="700"
                    alt="My photo"/>
                </picture>
        </div>
        

        <div class="about-me-ul-div">
            <ul class="about-me-ul accordion-container">
                <li class="about-me-li ac is-active">
                    <div class="h3-and-btn">
                        <h3 class="about-me-h3 ac-header">About me</h3>
                        <button class="about-me-close-btn ac-trigger" type="button" aria-expanded="true" aria-label="open-close-icon">
                            <svg 
                            class="close-open-icon" 
                            width="28"
                            height="14">
                            <use class="about-me-use" href="/img/icons.svg#icon-icon-down"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="ac-panel">
                        <p class="about-me-li-text about-me-first-p ac-text">I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages ​​and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.</p>
                        <p class="about-me-li-text ac-text">Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work.I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.</p>
                    </div>
                </li>
                <li class="about-me-li ac">
                    <div class="h3-and-btn">
                        <h3 class="about-me-h3 ac-header">Role</h3>
                        <button class="about-me-close-btn ac-trigger" type="button" aria-label="open-close-icon">
                            <svg 
                            class="close-open-icon" 
                            width="28"
                            height="14">
                            <use class="about-me-use" href="/img/icons.svg#icon-icon-down"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="ac-panel">
                        <p class="about-me-li-text about-me-li-role ac-text">Frontend development</p>
                        <p class="about-me-li-text about-me-li-role ac-text">HeadlessCMS,Wordpress</p>
                        <p class="about-me-li-text ac-text">Blender(enjoy)</p>
                    </div>
                </li>
                <li class="about-me-li ac">
                    <div class="h3-and-btn">
                        <h3 class="about-me-h3 ac-header">Education</h3>
                        <button class="about-me-close-btn ac-trigger" type="button" aria-label="open-close-icon">
                            <svg 
                            class="close-open-icon" 
                            width="28"
                            height="14">
                            <use class="about-me-use" href="/img/icons.svg#icon-icon-down"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="ac-panel">
                        <p class="about-me-li-text about-me-li-educ gap-ten ac-text">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</p>
                        <p class="about-me-li-text about-me-li-educ gap-ten ac-text">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
                        <p class="about-me-li-text about-me-li-educ ac-text">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="about-me-wrapper-for-skills">
            <div class="about-me-skills swiper">
                <ul class="about-me-skills-ul swiper-wrapper">
                    <li class="about-me-skills-li swiper-slide">
                        <p class="about-me-skill-p">HTML/CSS</p>
                    </li>
                    <li class="about-me-skills-li swiper-slide">
                        <p class="about-me-skill-p">JavaScript</p>
                    </li>
                    <li class="about-me-skills-li swiper-slide">
                        <p class="about-me-skill-p">React</p>
                    </li>
                    <li class="about-me-skills-li swiper-slide">
                        <p class="about-me-skill-p">Node.js</p>
                    </li>
                    <li class="about-me-skills-li swiper-slide">
                        <p class="about-me-skill-p">React Native</p>
                    </li>
                    <li class="about-me-skills-li swiper-slide">
                        <p class="about-me-skill-p">Soft skills</p>
                    </li>
                    <li class="about-me-skills-li swiper-slide">
                        <p class="about-me-skill-p">React Native</p>
                    </li>
                </ul>
            </div>
            <button class="about-me-btn-next swiper-button-next">
                <svg
                class="about-me-next-btn-svg"
                width="28"
                height="28">
                    <use class="about-me-use-next" href="/img/icons.svg#icon-icon-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>