<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero-h1">Hello.<br> I’m Fullstack Developer Lloyd Jefferson.</h1>
    <div class="hero-social">
        <ul class="hero-social-list">
            <li class="li-social"><a href="https://www.instagram.com/goitclub/" target="_blank" class="a-social">IG</a></li>
            <li class="li-social"><a href="https://www.facebook.com/goITclub/" target="_blank" class="a-social">FB</a></li>
            <li class="li-social"><a href="https://www.youtube.com/c/GoIT" target="_blank" class="a-social">YT</a></li>
            <li class="li-social"><a href="https://github.com/your-team-project" target="_blank" class="a-social">GH</a></li>
        </ul>
        <p class="hero-email"><a href="mailto:lloydjefferson@gmail.com" class="a-social">lloydjefferson@gmail.com</a></p>
    </div>
  </div>
</section>