<section>
    <div class="container project-container">
        <h2 class="projects-title">PROJECTS</h2>
        <div class="progect-container-program-img">
        <div class="project-container-ul-program">
            <ul class="projects-list">
                <li class="projects-link">
                    <button class="projects-btn-react" type="button">#react</button></li>
                <li class="projects-link">
                    <button class="projects-btn-js" type="button">#js</button></li>
                <li class="projects-link">
                    <button class="projects-btn-node" type="button">#node js</button></li>
                <li class="projects-link">
                    <button class="projects-btn-git" type="button">#git</button></li>
            </ul>
                <p class="project-p">Programming Across<br>
                   Borders: Ideas,<br>
                   Technologies, Innovations</p>
                   <a class="projects-btn-see" href="https://github.com/OleksiyVoloshyn/Project_DremTeam" target="_blank">See project</a>
        </div>
            <div class="project-img-cont">
                <picture>
                    <source
                        srcset="
                        ../img/projects/1-dst.jpg 1x,
                        ../img/projects/1-dst-2x.jpg 2x"
                        media="(min-width: 1440px)"
                         />
                    <source
                        srcset="
                        ../img/projects/1-dst.jpg 1x,
                        ../img/projects/1-dst-2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1439px)"/>
                    <source
                        srcset="
                        ../img/projects/1-mob.jpg 1x,
                        ../img/projects/1-mob-2x.jpg 2x"
                        media="(max-width: 767px)"/>
                        <img src="../img/projects/1-mob.jpg" alt="Expand your mind, reading a book"/>
                </picture>
            </div>
        </div>
        <div class="progect-container-program-img">
            <div class="project-container-ul-program">
                <ul class="projects-list">
                    <li class="projects-link">
                        <button class="projects-btn-react" type="button">#react</button></li>
                    <li class="projects-link">
                        <button class="projects-btn-js" type="button">#js</button></li>
                    <li class="projects-link">
                        <button class="projects-btn-node" type="button">#node js</button></li>
                    <li class="projects-link">
                        <button class="projects-btn-git" type="button">#git</button></li>
                </ul>
                    <p class="project-p">Programming Across<br>
                       Borders: Ideas,<br>
                       Technologies, Innovations</p>
                       <a class="projects-btn-see" href="https://github.com/OleksiyVoloshyn/Project_DremTeam" target="_blank">See project</a>
            </div>
                <div class="project-img-cont">
                    <picture>
                        <source
                            srcset="
                            ../img/projects/2-dst.jpg 1x,
                            ../img/projects/2-dst-2x.jpg 2x"
                            media="(min-width: 1440px)"
                             />
                        <source
                            srcset="
                            ../img/projects/2-dst.jpg 1x,
                            ../img/projects/2-dst-2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1439px)"/>
                        <source
                            srcset="
                            ../img/projects/2-mob.jpg 1x,
                            ../img/projects/2-mob-2x.jpg 2x"
                            media="(max-width: 767px)"/>
                            <img src="../img/projects/2-mob.jpg" alt="Expand your mind, reading a book" loading="lazy"/>
                    </picture>
                </div>
            </div>
            <div class="progect-container-program-img">
                <div class="project-container-ul-program">
                    <ul class="projects-list">
                        <li class="projects-link">
                            <button class="projects-btn-react" type="button">#react</button></li>
                        <li class="projects-link">
                            <button class="projects-btn-js" type="button">#js</button></li>
                        <li class="projects-link">
                            <button class="projects-btn-node" type="button">#node js</button></li>
                        <li class="projects-link">
                            <button class="projects-btn-git" type="button">#git</button></li>
                    </ul>
                        <p class="project-p">Programming Across<br>
                           Borders: Ideas,<br>
                           Technologies, Innovations</p>
                           <a class="projects-btn-see" href="https://github.com/OleksiyVoloshyn/Project_DremTeam" target="_blank">See project</a>
                </div>
                    <div class="project-img-cont">
                        <picture>
                            <source
                                srcset="
                                ../img/projects/3-dst.jpg 1x,
                                ../img/projects/3-dst-2x.jpg 2x"
                                media="(min-width: 1440px)"
                                 />
                            <source
                                srcset="
                                ../img/projects/3-dst.jpg 1x,
                                ../img/projects/3-dst-2x.jpg 2x"
                                media="(min-width: 768px) and (max-width: 1439px)"/>
                            <source
                                srcset="
                                ../img/projects/3-mob.jpg 1x,
                                ../img/projects/3-mob-2x.jpg 2x"
                                media="(max-width: 767px)"/>
                                <img src="../img/projects/3-mob.jpg" alt="Expand your mind, reading a book" loading="lazy"/>
                        </picture>
                    </div>
                </div>
            <div class="project-icon">
                <svg class="project-icon-left-right " width="52" height="52">
                    <use href="../img/icons.svg#icon-icon-right"></use>
                </svg>
                <svg class="project-icon-left-right right" width="52" height="52">
                    <use href="../img/icons.svg#icon-icon-left"></use>
                </svg>
        </div>
    </div> 
</section>

