

.hero-h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    margin-top: 281px;
    margin-bottom: 281px; 
}

.hero-social {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
}

.hero-social-list {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 4px;
}

.hero-social-list a {
    color: var(--main-text);
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-social-list a:hover {
    background-color: var(--main-text);
    color: black;
}

.hero-email {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 12px;
    width: 178px;
    height: 37px;
}

.a-social {
    font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: #fafafa;
}

.li-social {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}



/* Для мобільних пристроїв (до 375px) */
@media (max-width: 375px) {
    .hero {
        background-image: url('../img/hero/hero-bg-mobile-1x.jpg');
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .hero {
            background-image: url('../img/hero/hero-bg-mobile-2x.jpg');
        }
    }
}

/* Для планшетів (376px - 768px) */
@media (min-width: 376px) and (max-width: 768px) {
    .hero {
        background-image: url('../img/hero/hero-bg-tablet-1x.jpg');
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .hero {
            background-image: url('../img/hero/hero-bg-tablet-2x.jpg');
        }
    }

    .hero-h1 {
        font-size: 90px;
        text-transform: uppercase;
        color: #fafafa;
        margin-top: 300px;
        margin-bottom: 274px;
        margin-right: 104px;
    }

    .hero-social {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 8px;
        width: 473px;
        height: 55px;
        margin-left: 263px;
    }

    .a-social {
        font-size: 16px;
    }
}

/* Для десктопів (769px і більше) */
@media (min-width: 769px) {
    .hero {
        background-image: url('../img/hero/hero-bg-desktop-1x.jpg');
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .hero {
            background-image: url('../img/hero/hero-bg-desktop-2x.jpg');
        }
    }

    .hero-social {
        margin-left: 935px;
    }
}
